.post_detail_conrainer{
    margin-top: 8rem;
}
.post_detail_conrainer .post_detail_image{
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.post_detail_conrainer h1,h2,h4{
    color: #3a0ca3;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
h4{
    font-size: 26px;
}
.post_detail_conrainer p{
    font-size: 24px;
    font-weight: 500;
}

.resimler1{
    
    
}

.resimler1 .resimtw {
    background-color: #47ACDF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-right: 6rem;
    text-align: center;
    margin-left: 10rem;
    color: #fff;
}

.resimler1 .resimlk {
    background-color: #1275B1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-right: 6rem;
    text-align: center;
    color: #fff;

}

.resimler1 .resimmd {
    background-color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-right: 0rem;
    text-align: center;
    color: #fff;

}
